<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsiFuKrBAoRvuat9ZlTQ-L2MjrgCST7eU</string>
	<key>GCM_SENDER_ID</key>
	<string>61926691168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sturdytea.LorbyAuthApp</string>
	<key>PROJECT_ID</key>
	<string>lorby-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>lorby-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61926691168:ios:dd15d6cff87307926b8e05</string>
</dict>
</plist>